:root {
  font-family: 'Asap', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 50px;
  }
}

.section-title-wrapper {
  background: #022d41;
  padding: 48px 0 24px;

  @include media(desktop) {
    padding: 56px 0 24px;
  }
}

.section-title {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #ecf6ff;

  @include media(desktop) {
  }
}

.section-subtitle {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #022d41;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}
