.about-section {
}

.about-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 1440px;
  }
}

.about-container {
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 52px;
  }
}

.about-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    gap: 32px;
    width: 100%;
    max-width: 320px;
  }
}

.about-img {
  @include media(desktop) {
  }
}

.about-item-text {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #022d41;

  @include media(desktop) {
  }
}
