.advantages-section {
}

.advantages-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.advantages-container {
}

.advantages-title-wrapper {
  @include media(desktop) {
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-subtitle {
  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.advantages-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.advantages-img {
  @include media(desktop) {
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  @include media(desktop) {
    gap: 24px;
    margin-bottom: 50px;
  }
}

.advantages-list-item {
  width: 100%;
  max-width: 303px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &:nth-child(1) {
    .advantages-item-circle {
      background: #fc3728;
    }
  }

  &:nth-child(2) {
    .advantages-item-circle {
      background: #05d43b;
    }
  }

  &:nth-child(3) {
    .advantages-item-circle {
      background: #7f1aa6;
    }
  }

  &:nth-child(4) {
    .advantages-item-circle {
      background: #ff913e;
    }
  }

  @include media(desktop) {
    max-width: 410px;
  }
}

.advantages-item-text {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #022d41;

  @include media(desktop) {
  }
}

.advantages-item-circle {
  border-radius: 100px;
  width: 24px;
  height: 24px;
}

.advantages-text {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #022d41;

  @include media(desktop) {
    max-width: 410px;
  }
}
