.cookie-banner-section {
  background: #210f0f;
  width: 100%;
  max-width: 375px;
  padding: 40px 16px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.cookie-banner-content-wrapper {
  @include media(desktop) {
  }
}

.cookie-banner-text {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fff3e9;
  margin-bottom: 44px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.cookie-banner-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include media(desktop) {
    gap: 80px;
  }
}

.cookie-decline-btn {
  border-bottom: 2px solid #fff3e9;
  padding: 10px;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff3e9;
  width: 100%;
  max-width: 140px;

  @include media(desktop) {
  }
}

.cookie-accept-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff3e9;
  border-radius: 12px;
  padding: 10px;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #210f0f;
  width: 100%;
  max-width: 140px;

  @include media(desktop) {
  }
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
  }
}
