.contact-section {
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 28px;
    padding-bottom: 56px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  img:nth-of-type(1) {
    grid-column: 1;
  }

  img:nth-of-type(2) {
    grid-column: 2;
  }

  @include media(desktop) {
    grid-template-columns: auto minmax(0, 370px) auto;
    justify-content: space-between;
    align-items: center;
    max-width: 857px;
    margin-left: auto;
    margin-right: auto;

    img:nth-of-type(1) {
      grid-column: 1;
    }

    img:nth-of-type(2) {
      grid-column: 3;
    }
  }
}

.contact-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-row: 1;
  grid-column: 1 / -1;

  @include media(desktop) {
    max-width: 370px;
    grid-column: 2;
    grid-row: 1;
  }
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.contact-text {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #210f0f;

  @include media(desktop) {
    font-size: 16px;
  }
}

.contact-top-text {
  @include media(desktop) {
  }
}

.contact-bottom-text {
  @include media(desktop) {
  }
}

.contact-email-link {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #210f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.email-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-btn {
  border: 2px solid #80232d;
  box-shadow: 2px 2px 4px rgba(33, 15, 15, 0.4);
  background: #210f0f;
  border-radius: 8px;
  padding: 13px 31px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #80232d;
    border-color: #fff3e9;
  }

  @include media(desktop) {
    max-width: 240px;
  }
}
