.faq-section {
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  background: linear-gradient(180deg, #80232d 0%, #210f0f 100%);
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    max-width: 1062px;
  }
}

.faq-item-question-wrapper {
  padding: 12px 24px;

  @include media(desktop) {
  }
}

.faq-item-answer-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  max-height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  opacity: 0;
}

.faq-top-text-btn {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, transparent, #ffc03a) 1;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
}

.faq-btn-text {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #fff3e9;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff3e9;

  @include media(desktop) {
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-item-answer-wrapper {
  padding-top: 4px;
  padding-bottom: 12px;
  opacity: 1;
  max-height: 500px;

  @include media(desktop) {
    padding-top: 5px;
    padding-bottom: 12px;
  }
}
