.footer {
  background: #022d41;
  padding: 48px 0;

  @include media(desktop) {
    padding: 56px 0;
  }
}

.footer-container {
}

.footer-nav-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-nav {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include media(desktop) {
    gap: 8px;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #ecf6ff;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-text {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ecf6ff;
  text-align: center;

  @include media(desktop) {
    font-size: 16px;
  }
}
