.hero-section {
  background: linear-gradient(301deg, #f13321 0%, #f1837b 100%);

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-title-mob.png),
    url(../img/hero/hero-img-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 124px center, bottom 120px center;
  background-size: auto, auto;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: 85px;
  }
}

.hero-text-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;

  @include media(desktop) {
    display: none;
  }
}

.hero-text {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ecf6ff;
  max-width: 273px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 288px;

  @include media(desktop) {
    font-size: 40px;
    max-width: 434px;
    margin-bottom: 288px;
  }
}

.hero-btn {
  box-shadow: 0 2px 4px rgba(2, 45, 65, 0.6),
    inset 0 0 14px 4px rgba(53, 115, 171, 0.4);
  background: #ecf6ff;
  border: 2px solid #3573ab;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #022d41;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #022d41;
    border-color: #022d41;
    color: #ecf6ff;
  }

  @include media(desktop) {
  }
}
