.hero-section {
  background: #210f0f;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 88px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-man-mob.png),
    url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 128px center, bottom center;
  background-size: auto, cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 114px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: 85px;
  }
}

.hero-main-title {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #fff3e9;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 22px;
    line-height: 1.45455;
    letter-spacing: 0.03em;
    max-width: 434px;
    margin-bottom: 96px;
  }
}

.hero-text {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3125;
  text-transform: uppercase;
  text-align: center;
  color: #fff3e9;
  max-width: 242px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 435px;

  @include media(desktop) {
    font-size: 24px;
    letter-spacing: 0.01em;
    max-width: 397px;
    margin-bottom: 378px;
  }
}

.hero-btn {
  box-shadow: 2px 4px 4px rgba(255, 243, 233, 0.3);
  background: #fff3e9;
  border: 1px solid rgba(33, 15, 15, 0.6);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #210f0f;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 4px rgba(255, 243, 233, 0.4),
      inset 0 0 34px 4px rgba(246, 180, 32, 0.5);
    background: #fff3e9;
    border-color: rgba(246, 180, 32, 0.6);
  }

  @include media(desktop) {
  }
}
