.mechanic-section {
}

.mechanic-bg-wrapper {
  background: #3573ab;
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.mechanic-container {
}

.mechanic-title-wrapper {
  @include media(desktop) {
  }
}

.mechanic-title {
  @include media(desktop) {
  }
}

.mechanic-subtitle {
  color: #ecf6ff;

  @include media(desktop) {
    margin-bottom: 56px;
  }
}

.mechanic-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.mechanic-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 24px;
  }
}

.mechanic-list-item {
  box-shadow: inset 0 0 24px #3573ab;
  background: #ecf6ff;
  border: 2px solid #fc3728;
  border-radius: 8px;
  padding: 10px 46px;
  max-width: 320px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding: 10px 22px;
    max-width: 220px;
    min-height: 130px;
  }
}

.mechanic-item-text {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #022d41;

  @include media(desktop) {
  }
}

.mechanic-img {
  @include media(desktop) {
  }
}
