.context-menu {
  display: none;
  background: #022d41;
  border-radius: 0 0 40px 40px;
  padding: 48px 25px 48px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.context-list-item {
  width: 100%;
  max-width: 160px;
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ecf6ff;
  width: 100%;
  height: 100%;
  position: relative;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ecf6ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
      color 0.3s ease-in-out 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out 0.3s ease-in-out;
  }

  &:active {
    text-shadow: 0 0 0 currentColor;

    &::after {
      transform: scaleX(1);
    }
  }
}

.context-privacy-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.context-privacy-link {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #ecf6ff;
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
