.platform-section {
}

.platform-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.platform-container {
}

.platform-title-wrapper {
  @include media(desktop) {
  }
}

.platform-title {
  @include media(desktop) {
  }
}

.platform-subtitle {
  @include media(desktop) {
  }
}

.platform-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 45px;
  }
}

.platform-img {
  @include media(desktop) {
  }
}

.platform-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 24px;
  }
}

.platform-list-item {
  width: 100%;
  max-width: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &:nth-child(1) {
    .platform-item-circle {
      background: #fc3728;
    }
  }

  &:nth-child(2) {
    .platform-item-circle {
      background: #05d43b;
    }
  }

  &:nth-child(3) {
    .platform-item-circle {
      background: #7f1aa6;
    }
  }

  &:nth-child(4) {
    .platform-item-circle {
      background: #ff913e;
    }
  }

  @include media(desktop) {
    gap: 24px;
  }
}

.platform-item-text {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #022d41;

  @include media(desktop) {
  }
}

.platform-item-circle {
  border-radius: 100px;
  width: 24px;
  height: 24px;
}
