.play-section {
}

.play-title {
  @include media(desktop) {
  }
}

.play-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.play-container {
  @include media(desktop) {
  }
}

.play-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

.play-microsoft-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;

  @include media(desktop) {
  }
}

.play-playstore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;

  @include media(desktop) {
  }
}
