.variety-section {
  background: #3573ab;
}

.variety-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 1440px;
  }
}

.variety-container {
}

.variety-title-wrapper {
  @include media(desktop) {
  }
}

.variety-title {
  @include media(desktop) {
  }
}

.variety-subtitle {
  color: #ecf6ff;

  @include media(desktop) {
  }
}

.variety-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 47px;
    margin-bottom: 48px;
  }
}

.variety-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    width: 100%;
    max-width: max-content;
  }
}

.variety-img {
  @include media(desktop) {
  }
}

.variety-item-text {
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #ecf6ff;

  @include media(desktop) {
  }
}

.variety-bottom-text {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: #ecf6ff;
  max-width: 263px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}
