<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">CORE GAME IDEA</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        Drop Away is basically about fitting colored blocks in tight spaces
        without messing up.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img1-desk.png"
              media="(min-width: 1440px)"
              width="319"
              height="390" />
            <source
              srcset="./img/about/about-img1-mob.png"
              width="245"
              height="300" />
            <img
              class="about-img"
              src="./img/about/about-img1-mob.png"
              alt="Screenshot of the game"
              width="245"
              height="300"
              loading="lazy"
          /></picture>
          <p class="about-item-text">
            You drag furniture-shaped blocks into a limited area. Each block has
            a color. Each stick figure is waiting for the correct color.
          </p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img2-desk.png"
              media="(min-width: 1440px)"
              width="319"
              height="390" />
            <source
              srcset="./img/about/about-img2-mob.png"
              width="245"
              height="300" />
            <img
              class="about-img"
              src="./img/about/about-img2-mob.png"
              alt="Screenshot of the game"
              width="245"
              height="300"
              loading="lazy"
          /></picture>
          <p class="about-item-text">
            If you block the wrong path — you’re stuck. If you think ahead —
            everything flows.
          </p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img3-desk.png"
              media="(min-width: 1440px)"
              width="319"
              height="390" />
            <source
              srcset="./img/about/about-img3-mob.png"
              width="245"
              height="300" />
            <img
              class="about-img"
              src="./img/about/about-img3-mob.png"
              alt="Screenshot of the game"
              width="245"
              height="300"
              loading="lazy"
          /></picture>
          <p class="about-item-text">
            There are no timers.<br />
            No reflex challenges.<br />
            It's all about figuring stuff out.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
