<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">ABOUT THE GAME</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        Tile Kingdom blends classic tile-matching puzzles with creative kingdom
        building.
      </p>
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-man-desk.png"
            media="(min-width: 1440px)"
            width="364"
            height="448" />
          <source
            srcset="./img/about/about-man-mob.png"
            width="303"
            height="373" />
          <img
            class="about-img"
            src="./img/about/about-man-mob.png"
            alt="Screenshot of the game"
            width="303"
            height="373"
            loading="lazy"
        /></picture>
        <div class="about-text-wrapper">
          <p class="about-text about-top-text">
            You play as a trusted helper to Antonio, the Royal Architect, whose
            dream is to restore and expand a magnificent kingdom.
          </p>
          <p class="about-text about-middle-text">
            Each puzzle you solve earns resources that bring castles, chambers,
            and gardens to life.
          </p>
          <p class="about-text about-loop-text">
            The result is a satisfying loop:
          </p>
          <img
            class="about-loop-img"
            src="./img/about/about-loop-mob.png"
            alt="Screenshot of the game"
            width="241"
            height="206"
            loading="lazy"
          />
          <p class="about-text about-bottom-text">
            Each puzzle you solve earns resources that bring castles, chambers,
            and gardens to life.
          </p>
          <div class="about-loop-wrapper">
            <p class="about-loop-text-desk">solve</p>
            <svg class="close-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
            <p class="about-loop-text-desk">unlock</p>
            <svg class="close-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
            <p class="about-loop-text-desk">build</p>
            <svg class="close-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
            <p class="about-loop-text-desk">admire</p>
            <svg class="close-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
            <p class="about-loop-text-desk">repeat</p>
          </div>
          <p class="about-text about-bottom-text-desk">
            It’s a game that rewards both thinking and creativity.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-castle-desk.png"
            media="(min-width: 1440px)"
            width="302"
            height="448" />
          <source
            srcset="./img/about/about-castle-mob.png"
            width="303"
            height="448" />
          <img
            class="about-img"
            src="./img/about/about-castle-mob.png"
            alt="Screenshot of the game"
            width="303"
            height="448"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
