<section class="section advantages-section" id="advantages">
  <div class="section-title-wrapper advantages-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title advantages-title">WHY IT’S ADDICTIVE</h2>
    </div>
  </div>
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <p class="section-subtitle advantages-subtitle">
        Players keep coming back to Drop Away because:
      </p>
      <div class="advantages-content-wrapper">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img1.png"
          alt="Screenshot of the game"
          width="322"
          height="539"
          loading="lazy"
        />
        <div class="advantages-text-wrapper">
          <ul class="advantages-list">
            <li class="advantages-list-item">
              <p class="advantages-item-text">
                You always feel like there's gotta be a way to beat it
              </p>
              <div class="advantages-item-circle"></div>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">
                When you mess up, you can usually see what went wrong
              </p>
              <div class="advantages-item-circle"></div>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">
                When you finally solve it, you actually feel like you worked for
                it
              </p>
              <div class="advantages-item-circle"></div>
            </li>
            <li class="advantages-list-item">
              <p class="advantages-item-text">
                The board “clicks” when solved correctly
              </p>
              <div class="advantages-item-circle"></div>
            </li>
          </ul>
          <p class="advantages-text">
            It’s the kind of game where you restart immediately — not because
            you lost, but because you almost had it.
          </p>
        </div>
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img2.png"
          alt="Screenshot of the game"
          width="322"
          height="539"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
