<section class="section atmosphere-section" id="atmosphere">
  <div class="section-title-wrapper atmosphere-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title atmosphere-title">VISUAL STYLE & ATMOSPHERE</h2>
    </div>
  </div>
  <div class="atmosphere-bg-wrapper">
    <div class="container atmosphere-container">
      <div class="atmosphere-content-wrapper">
        <ul class="atmosphere-list">
          <li class="atmosphere-list-item">
            <svg class="atmosphere-icon" width="25" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="atmosphere-item-text">
              Everything looks crisp and colorful in 3D
            </p>
          </li>
          <li class="atmosphere-list-item">
            <svg class="atmosphere-icon" width="25" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="atmosphere-item-text">
              Clear, readable tiles and interfaces
            </p>
          </li>
          <li class="atmosphere-list-item">
            <svg class="atmosphere-icon" width="25" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="atmosphere-item-text">
              Smooth animations that never distract
            </p>
          </li>
          <li class="atmosphere-list-item">
            <svg class="atmosphere-icon" width="25" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="atmosphere-item-text">
              A royal aesthetic that feels warm, not heavy
            </p>
          </li>
        </ul>
        <div class="atmosphere-img-wrapper">
          <div class="atmosphere-text-wrapper">
            <svg class="atmosphere-quote-icon" width="33" height="33">
              <use href="./img/sprite.svg#icon-quote"></use>
            </svg>
            <p class="atmosphere-img-text">
              I've played this for hours and never felt like my eyes were
              burning or anything - it's really easy on the eyes.
            </p>
          </div>
          <picture>
            <source
              srcset="./img/atmosphere/atmosphere-img-mob.png"
              media="(min-width: 1440px)"
              width="418"
              height="362" />
            <source
              srcset="./img/atmosphere/atmosphere-img-mob.png"
              width="323"
              height="280" />
            <img
              class="atmosphere-img"
              src="./img/atmosphere/atmosphere-img-mob.png"
              alt="Screenshot of the game"
              width="323"
              height="280"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
