<section class="section audience-section" id="audience">
  <div class="section-title-wrapper audience-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title audience-title">WHO THIS GAME IS FOR</h2>
    </div>
  </div>
  <div class="audience-bg-wrapper">
    <div class="container audience-container">
      <div class="audience-content-wrapper">
        <picture>
          <source
            srcset="./img/audience/audience-img1-desk.png"
            media="(min-width: 1440px)"
            width="342"
            height="342" />
          <source
            srcset="./img/audience/audience-img1-mob.png"
            width="243"
            height="243" />
          <img
            class="audience-img"
            src="./img/audience/audience-img1-mob.png"
            alt="Screenshot of the game"
            width="243"
            height="243"
            loading="lazy"
        /></picture>
        <div class="audience-text-wrapper">
          <p class="audience-top-text">Drop Away is ideal for players who:</p>
          <p class="audience-middle-text">
            Enjoy spatial logic puzzles<br />
            Like color-matching with real consequences<br />
            Prefer thinking over reflexes<br />
            Want a clean, ad-light puzzle experience<br />
            Enjoy solving problems step by step
          </p>
          <p class="audience-bottom-text">
            This is not chaos.<br />
            This is controlled challenge.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/audience/audience-img2-desk.png"
            media="(min-width: 1440px)"
            width="342"
            height="342" />
          <source
            srcset="./img/audience/audience-img2-mob.png"
            width="243"
            height="243" />
          <img
            class="audience-img"
            src="./img/audience/audience-img2-mob.png"
            alt="Screenshot of the game"
            width="243"
            height="243"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
