<section class="section challenges-section" id="challenges">
  <div class="section-title-wrapper challenges-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title challenges-title">
        TILE MATCHING & PUZZLE CHALLENGES
      </h2>
    </div>
  </div>
  <div class="challenges-bg-wrapper">
    <div class="container challenges-container">
      <p class="section-subtitle challenges-subtitle">
        The core gameplay is basically Mahjong, but with some cool twists.
      </p>
      <ul class="challenges-list">
        <li class="challenges-list-item">
          <p class="challenges-item-text">
            Match and combine tiles to clear the board
          </p>
        </li>
        <li class="challenges-list-item">
          <p class="challenges-item-text">
            Master special mechanics like ice, grass, and gum tiles
          </p>
        </li>
        <li class="challenges-list-item">
          <img
            class="challenges-img-desk"
            src="./img/challenges/challenges-img-desk.png"
            alt="Screenshot of the game"
            width="200"
            height="200"
            loading="lazy"
          />
        </li>
        <li class="challenges-list-item">
          <p class="challenges-item-text">
            Work your way through tons of levels (we spent ages designing each
            one)
          </p>
        </li>
        <li class="challenges-list-item">
          <p class="challenges-item-text">Think ahead to avoid blocked paths</p>
        </li>
      </ul>
      <p class="challenges-bottom-text">
        It gets harder as you go, but not in a frustrating way - more like a
        good challenge.
      </p>
      <img
        class="challenges-img-mob"
        src="./img/challenges/challenges-img-mob.png"
        alt="Screenshot of the game"
        width="303"
        height="303"
        loading="lazy"
      />
    </div>
  </div>
</section>
