<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">CONTACT</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <div class="contact-email-wrapper">
            <p class="contact-text contact-top-text">Questions or feedback?</p>
            <a class="contact-email-link" href="mailto:info@mystora.online">
              <svg class="email-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-mail"></use>
              </svg>
              info@mystora.online</a
            >
          </div>
          <a
            class="contact-btn"
            href="https://play.google.com/store/apps/details?id=com.dreamloft.tilekingdom&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="playstore-icon" width="37" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use>
            </svg>
            <svg class="playstore-icon-text" width="121" height="41">
              <use href="./img/sprite.svg#icon-playstore-text"></use>
            </svg>
          </a>
          <p class="contact-text contact-bottom-text">
            Publisher: Mystora Game
          </p>
        </div>
        <img
          class="contact-img"
          src="./img/contact/contact-img1.png"
          alt="Screenshot of the game"
          width="125"
          height="205"
          loading="lazy"
        />
        <img
          class="contact-img"
          src="./img/contact/contact-img2.png"
          alt="Screenshot of the game"
          width="146"
          height="204"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
