<section class="section faq-section" id="faq">
  <div class="section-title-wrapper faq-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title play-title">FAQ</h2>
    </div>
  </div>
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <ul class="faq-list">
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is Tile Kingdom free to play?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="26" height="28">
                  <use href="./img/sprite.svg#icon-hand"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes. The game is free to play with optional in-app purchases.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Do I need internet to play?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="26" height="28">
                  <use href="./img/sprite.svg#icon-hand"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Most puzzle content can be enjoyed offline.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is this game suitable for beginners?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="26" height="28">
                  <use href="./img/sprite.svg#icon-hand"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes. Early levels are easy to learn, and difficulty increases
              gradually.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there new levels and events?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="26" height="28">
                  <use href="./img/sprite.svg#icon-hand"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes. We're always adding new levels and stuff to keep things
              interesting.
            </p>
          </div>
        </li>
        <li class="faq-list-item">
          <div class="faq-item-question-wrapper">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play with friends?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="26" height="28">
                  <use href="./img/sprite.svg#icon-hand"></use></svg
              ></span>
            </button>
          </div>
          <div class="faq-item-answer-wrapper">
            <p class="faq-bottom-text">
              Yes. Team play and social features are available.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
