<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-text-desk.png"
            media="(min-width: 1440px)"
            width="418"
            height="386" />
          <source
            srcset="./img/hero/hero-text-mob.png"
            width="303"
            height="303" />
          <img
            class="hero-text-img"
            src="./img/hero/hero-text-mob.png"
            alt="Screenshot of the game"
            width="303"
            height="303"
            loading="lazy"
        /></picture>
        <p class="hero-text">
          Figure out these color puzzles where one wrong move screws everything
          up.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.brewgames.dropaway&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          Play Drop Away
        </a>
      </div>
    </div>
  </div>
</section>
