<section class="section mechanic-section" id="mechanic">
  <div class="section-title-wrapper mechanic-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title mechanic-title">THE DROP MECHANIC</h2>
    </div>
  </div>
  <div class="mechanic-bg-wrapper">
    <div class="container mechanic-container">
      <p class="section-subtitle mechanic-subtitle">
        Look, what really matters in this game is:
      </p>
      <div class="mechanic-content-wrapper">
        <ul class="mechanic-list">
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              What you drop first decides everything else
            </p>
          </li>
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              You don't have much room to work with, and it'll punish you for
              mistakes
            </p>
          </li>
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              One wrong drop can lock the entire board
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/mechanic/mechanic-img-desk.png"
            media="(min-width: 1440px)"
            width="240"
            height="294" />
          <source
            srcset="./img/mechanic/mechanic-img-mob.png"
            width="174"
            height="214" />
          <img
            class="mechanic-img"
            src="./img/mechanic/mechanic-img-mob.png"
            alt="Screenshot of the game"
            width="174"
            height="214"
            loading="lazy"
        /></picture>
        <ul class="mechanic-list">
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              Blocks interact with each other by position
            </p>
          </li>
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              Colors must reach the right stick figures
            </p>
          </li>
          <li class="mechanic-list-item">
            <p class="mechanic-item-text">
              The challenge isn’t speed — it’s foresight
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
