<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home"
          >Welcome to the Kingdom</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#challenges"
          >Tile Matching & Puzzle Challenges</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#strategy"
          >Brain Training & Strategy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#tournaments"
          >Mini-games, Events & Tournaments</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Social Features & Team Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#atmosphere"
          >Visual Style & Atmosphere</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery"
          >Game Gallery</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
