<section class="section platform-section" id="platform">
  <div class="section-title-wrapper platform-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title platform-title">PLATFORM & ACCESSIBILITY</h2>
    </div>
  </div>
  <div class="platform-bg-wrapper">
    <div class="container platform-container">
      <div class="platform-content-wrapper">
        <picture>
          <source
            srcset="./img/platform/platform-img1-desk.png"
            media="(min-width: 1440px)"
            width="345"
            height="398" />
          <source
            srcset="./img/platform/platform-img1-mob.png"
            width="211"
            height="243" />
          <img
            class="platform-img"
            src="./img/platform/platform-img1-mob.png"
            alt="Screenshot of the game"
            width="211"
            height="243"
            loading="lazy"
        /></picture>
        <div class="platform-text-wrapper">
          <ul class="platform-list">
            <li class="platform-list-item">
              <p class="platform-item-text">Available on Android and Windows</p>
              <div class="platform-item-circle"></div>
            </li>
            <li class="platform-list-item">
              <p class="platform-item-text">Intuitive drag-and-drop controls</p>
              <div class="platform-item-circle"></div>
            </li>
            <li class="platform-list-item">
              <p class="platform-item-text">
                Designed for mouse and touch input
              </p>
              <div class="platform-item-circle"></div>
            </li>
            <li class="platform-list-item">
              <p class="platform-item-text">
                Suitable for short sessions or long play
              </p>
              <div class="platform-item-circle"></div>
            </li>
            <li class="platform-list-item">
              <p class="platform-item-text">
                The game respects the player’s time
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/platform/platform-img2-desk.png"
            media="(min-width: 1440px)"
            width="357"
            height="398" />
          <source
            srcset="./img/platform/platform-img2-mob.png"
            width="210"
            height="234" />
          <img
            class="platform-img"
            src="./img/platform/platform-img2-mob.png"
            alt="Screenshot of the game"
            width="210"
            height="234"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
