<section class="section play-section" id="play">
  <div class="section-title-wrapper play-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title play-title">PLAY NOW</h2>
    </div>
  </div>
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <p class="section-subtitle play-subtitle">
        Drop carefully. Solve smartly.
      </p>
      <div class="play-btn-wrapper">
        <a class="play-microsoft-btn" href="#home">
          <img
            class="play-img"
            src="./img/play/play-microsoft.png"
            alt="Microsoft Store button"
            aria-label="Download the game on Microsoft Store"
            width="240"
            height="72"
          />
        </a>
        <a
          class="play-playstore-btn"
          href="https://play.google.com/store/apps/details?id=com.brewgames.dropaway&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="play-img"
            src="./img/play/play-playstore.png"
            alt="Google Play button"
            aria-label="Download the game on Google Play"
            width="240"
            height="72"
          />
        </a>
      </div>
    </div>
  </div>
</section>
