<section class="section strategy-section" id="strategy">
  <div class="section-title-wrapper strategy-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title strategy-title">BRAIN TRAINING & STRATEGY</h2>
    </div>
  </div>
  <div class="strategy-bg-wrapper">
    <div class="container strategy-container">
      <p class="section-subtitle strategy-subtitle">
        Tile Kingdom isn’t about speed — it’s about smart decisions.
      </p>
      <ul class="strategy-list">
        <li class="strategy-list-item">
          <picture>
            <source
              srcset="./img/strategy/strategy-img1-desk.png"
              media="(min-width: 1440px)"
              width="293"
              height="371" />
            <source
              srcset="./img/strategy/strategy-img1-mob.png"
              width="258"
              height="327" />
            <img
              class="strategy-img"
              src="./img/strategy/strategy-img1-mob.png"
              alt="Screenshot of the game"
              width="258"
              height="327"
              loading="lazy"
          /></picture>
          <p class="strategy-item-text">
            Later puzzles require careful sequencing
          </p>
        </li>
        <li class="strategy-list-item">
          <picture>
            <source
              srcset="./img/strategy/strategy-img2-desk.png"
              media="(min-width: 1440px)"
              width="293"
              height="371" />
            <source
              srcset="./img/strategy/strategy-img2-mob.png"
              width="258"
              height="327" />
            <img
              class="strategy-img"
              src="./img/strategy/strategy-img2-mob.png"
              alt="Screenshot of the game"
              width="258"
              height="327"
              loading="lazy"
          /></picture>
          <p class="strategy-item-text">
            Mistakes teach strategy rather than punish players
          </p>
        </li>
        <li class="strategy-list-item">
          <picture>
            <source
              srcset="./img/strategy/strategy-img3-desk.png"
              media="(min-width: 1440px)"
              width="293"
              height="371" />
            <source
              srcset="./img/strategy/strategy-img3-mob.png"
              width="258"
              height="327" />
            <img
              class="strategy-img"
              src="./img/strategy/strategy-img3-mob.png"
              alt="Screenshot of the game"
              width="258"
              height="327"
              loading="lazy"
          /></picture>
          <p class="strategy-item-text">
            Each level encourages planning and foresight
          </p>
        </li>
      </ul>
      <p class="strategy-bottom-text">
        Great for people who'd rather plan their moves instead of just tapping
        like crazy and hoping for the best.
      </p>
    </div>
  </div>
</section>
