<section class="section tournaments-section" id="tournaments">
  <div class="section-title-wrapper tournaments-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title tournaments-title">
        MINI-GAMES, EVENTS & TOURNAMENTS
      </h2>
    </div>
  </div>
  <div class="tournaments-bg-wrapper">
    <div class="container tournaments-container">
      <p class="section-subtitle tournaments-subtitle">
        Tile Kingdom goes beyond standard levels – there’s always something new
        to solve.
      </p>
      <div class="tournaments-content-wrapper">
        <img
          class="tournaments-img"
          src="./img/tournaments/tournaments-img.png"
          alt="Screenshot of the game"
          width="263"
          height="373"
          loading="lazy"
        />
        <ul class="tournaments-list">
          <li class="tournaments-list-item">
            <p class="tournaments-item-text">
              Mini-games inspired by classic tile and Mahjong puzzles
            </p>
          </li>
          <li class="tournaments-list-item">
            <p class="tournaments-item-text">
              Daily challenges with special rewards
            </p>
          </li>
          <li class="tournaments-list-item">
            <p class="tournaments-item-text">
              Global tournaments to test your skills
            </p>
          </li>
          <li class="tournaments-list-item">
            <p class="tournaments-item-text">
              Limited-time events that refresh gameplay
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
