<section class="section variety-section" id="variety">
  <div class="section-title-wrapper variety-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title variety-title">LEVEL VARIETY & LONGEVITY</h2>
    </div>
  </div>
  <div class="variety-bg-wrapper">
    <div class="container variety-container">
      <p class="section-subtitle variety-subtitle">
        We've designed hundreds of unique levels:
      </p>
      <ul class="variety-list">
        <li class="variety-list-item">
          <picture>
            <source
              srcset="./img/variety/variety-img1-desk.png"
              media="(min-width: 1440px)"
              width="320"
              height="420" />
            <source
              srcset="./img/variety/variety-img1-mob.png"
              width="229"
              height="300" />
            <img
              class="variety-img"
              src="./img/variety/variety-img1-mob.png"
              alt="Screenshot of the game"
              width="229"
              height="300"
              loading="lazy"
          /></picture>
          <p class="variety-item-text">
            New layouts introduce fresh thinking patterns
          </p>
        </li>
        <li class="variety-list-item">
          <picture>
            <source
              srcset="./img/variety/variety-img2-desk.png"
              media="(min-width: 1440px)"
              width="320"
              height="420" />
            <source
              srcset="./img/variety/variety-img2-mob.png"
              width="229"
              height="300" />
            <img
              class="variety-img"
              src="./img/variety/variety-img2-mob.png"
              alt="Screenshot of the game"
              width="229"
              height="300"
              loading="lazy"
          /></picture>
          <p class="variety-item-text">
            Each level gets trickier but stays fresh
          </p>
        </li>
        <li class="variety-list-item">
          <picture>
            <source
              srcset="./img/variety/variety-img3-desk.png"
              media="(min-width: 1440px)"
              width="320"
              height="420" />
            <source
              srcset="./img/variety/variety-img3-mob.png"
              width="229"
              height="300" />
            <img
              class="variety-img"
              src="./img/variety/variety-img3-mob.png"
              alt="Screenshot of the game"
              width="229"
              height="300"
              loading="lazy"
          /></picture>
          <p class="variety-item-text">
            Puzzle types mix block logic and color routing
          </p>
        </li>
      </ul>
      <p class="variety-bottom-text">
        No filler levels. Each level has its own twist that'll make you think
        differently.
      </p>
    </div>
  </div>
</section>
