@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/mechanic.scss';
@import './components/advantages.scss';
@import './components/variety.scss';
@import './components/platform.scss';
@import './components/gallery.scss';
@import './components/feedback.scss';
@import './components/audience.scss';
@import './components/play.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy-header.scss';
@import './components/privacy.scss';
